/****** Object:  Table [dbo].[WeekLookup]    Script Date: 2/27/2023 3:42:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeekLookup](
	[RowNum] [bigint] NULL,
	[WeekStartDate] [datetime] NULL,
	[WeekEndDate] [datetime] NULL,
	[flag] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[WeekLookup] ([RowNum], [WeekStartDate], [WeekEndDate], [flag]) VALUES (1, CAST(N'2019-12-29T00:00:00.000' AS DateTime), CAST(N'2020-01-04T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[WeekLookup] ([RowNum], [WeekStartDate], [WeekEndDate], [flag]) VALUES (2, CAST(N'2020-01-05T00:00:00.000' AS DateTime), CAST(N'2020-01-11T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[WeekLookup] ([RowNum], [WeekStartDate], [WeekEndDate], [flag]) VALUES (3, CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-01-18T00:00:00.000' AS DateTime), 0)
GO
